.container {
  display: flex;
  margin-top: 2rem;

  div:first-child {
    margin-right: 3rem;
  }

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;

    div:first-child {
      margin-right: 0rem;
    }
  }
}

.bullets {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  max-width: 45vw;

  @media only screen and (max-width: 768px) {
    max-width: 90vw;
    padding: 4rem;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 800;
    min-height: 8rem;

    @media only screen and (max-width: 768px) {
      min-height: 4rem;
    }
  }

  ul {
    text-align: left;
  }
}
